<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <title>Flower Clicker Leaderboard</title>

    <!-- STYLE -->
    <link rel="stylesheet" href="/css/leaderboard.css">
</head>
<body>

    <div class="wrapper">
        <div class="container1">
            <div id="navBar">
                <a class="navBarText" onclick="href='/leaderboard'">Reload</a>
                <a class="navBarText" onclick="href='/'">Return</a>
            </div>
        </div>

        <div class="container2">
    <table>
        <thead>
            <tr>

                <th>Most Plant Containers</th>
            </tr>
        </thead>

        <tbody id="dataTable"></tbody>
    </table>
        </div>

    </div>
    <!-- SCRIPTS -->
    <script src="/js/main.js"></script>
    <script>
        window.onload = () => {
            getHighscores();
            loadTableData(dataTable);
        }
    </script>

</body>
</html>