<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <title>Flower Clicker Leaderboard</title>

    <!-- STYLE -->
    <link rel="stylesheet" href="/css/settings.css">
</head>
<body>

    <div class="wrapper">
        <div class="container1">
            <div id="navBar">
                <a class="navBarText" onclick="href='/leaderboard'">Reload</a>
                <a class="navBarText" onclick="href='/'">Return</a>
            </div>
        </div>

        <div class="container2">
            <a class="navBarText" id="resetText" onclick="ClearStorage()">Reset</a>
        </div>

        <div class="container3">
            3
        </div>

        <div class="container4">
            4
        </div>

        <div class="container5">
            5
        </div>

        <div class="container6">
            6
        </div>

        <div class="container7">
            7
        </div>

        <div class="container8">
            8
        </div>

        <div class="container9">
            9
        </div>

        <div class="container10">
            10
        </div>

    </div>
    <!-- SCRIPTS -->
    <script src="/js/main.js"></script>
</body>
</html>